* {
  outline: none;
}

/* <details class="custom-block"> 中的 <a> */
.vp-doc details.custom-block a {
  color: var(--vp-c-brand);
}

/* <details class="custom-block"> 中的 <code> */
.vp-doc details.custom-block code {
  background-color: var(--vp-custom-block-tip-code-bg);
}
